 @keyframes scanlines {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -540px;
    }
}
@keyframes change-title {
    0% {
        content: "-rwx------";
    }
    5% {
        content: "-rwxr-----";
    }
    10% {
        content: "-rwxr----x";
    }
    15% {
        content: "-rwxrw---x";
    }
    20% {
        content: "-rwxrw-r-x";
    }
    25% {
        content: "-rwxrw-rwx";
    }
    30% {
        content: "-rwxrwxrwx";
    }
    35% {
        content: "-rwxrwxr-x";
    }
    40% {
        content: "-rwx-wxr-x";
    }
    45% {
        content: "-rwx-w-r-x";
    }
    50% {
      content: "-rwx-w---x";
    }
    55% {
        content: "-rwx-w--wx";
    }
    60% {
      content: "-rwx-w-rwx";
    }
    65% {
        content: "-rwx-w-rw-";
    }
    70% {
        content: "-rwxrw-rw-";
    }
    75% {
        content: "-rwxr--rw-";
    }
    80% {
        content: "-rwxr--rwx";
    }
    85% {
        content: "-rwxr--r-x";
    }
    90% {
       content: "-rwxr--r--";
    }
    95% {
        content: "-rwx---r--";
    }
    100% {
        content: "-rwx------";
    }
}
@keyframes site-title-crt-flicker {
    0% {
        text-shadow: 0rem 0rem 0rem #dc322f80;
        filter: none;
    }

    1% {
        text-shadow: 0.2rem 0.2rem 0.1rem #dc322f80;
        filter: brightness(1.2);
    }

    2% {
        text-shadow: 0rem 0rem 0.1rem #dc322f80;
        filter: none;
    }

    4% {
        text-shadow: 0.2rem 0.2rem 0.2rem #dc322f80;
        filter: none
    }

    6% {
        text-shadow: 0.1rem 0.1rem 0.1rem #dc322f80;
        filter: brightness(1.2);
    }

    8% {
        text-shadow: 0.1rem 0.1rem 0.1rem #dc322f80;
        filter: none;
    }

    9% {
        text-shadow: 0rem 0rem 0.1rem #dc322f80;
        filter: brightness(1.2);
    }

    10% {
        text-shadow: 0.1rem 0.1rem 0.1rem #dc322f80;
        filter: none;
    }

    12% {
        text-shadow: 0rem 0rem 0rem #dc322f80;
        filter: none;
    }

    14% {
        text-shadow: 0.2rem 0.2rem 0.3rem #dc322f80;
        filter: none;
    }

    31% {
        text-shadow: 0.2rem 0.2rem 0.3rem #dc322f80;
        filter: none;
    }

    32% {
        text-shadow: 0.1rem 0.1rem 0.1rem #dc322f80;
        filter: brightness(1.2);
    }

    33% {
        text-shadow: 0.2rem 0.2rem 0.3rem #dc322f80;
        filter: none;
    }

    69% {
        text-shadow: 0.2rem 0.2rem 0.3rem #dc322f80;
        filter: none;
    }

    70% {
        text-shadow: 0rem 0rem 0rem #dc322f80;
        filter: none;
    }

    71% {
        text-shadow: 0.2rem 0.2rem 0.2rem #dc322f80;
        filter: brightness(1.3);
    }

    72% {
        text-shadow: 0.1rem 0.1rem 0.1rem #dc322f80;
        filter: none;
    }

    73% {
        text-shadow: 0.2rem 0.2rem 0.3rem #dc322f80;
        filter: none;
    }

    100% {
        text-shadow: 0.2rem 0.2rem 0.3rem #dc322f80;
        filter: none;
    }
}
@keyframes wobble {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(20px, 0px);
    }
    50% {
        transform: translate(0px, -20px);
    }
    75% {
        transform: translate(-20px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}