html {
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    /* Dark mode bg */
    --base03: #002b36;
    /* Dark mode highlight */
    --base02: #073642;
    /* Darkest gray */
    --base01: #586e75;
    /* Gray - no dark mode */
    --base00: #657b83;
    /* Gray - no light mode */
    --base0: #839496;
    /* Lightest gray */
    --base1: #93a1a1;
    /* Light mode highlight */
    --base2: #eee8d5;
    /* Light mode bg */
    --base3: #fdf6e3;
    --base-width: 800px;
    background: var(--base3);
    color: var(--base01);
    font-family: Arial;
}

a {
    color: var(--blue);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: var(--base-width);
}

main {
  display: flex;
  flex-direction: column;
  width: var(--base-width);
}

nav {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

#metadata {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post {

}

.site-title {
    animation: site-title-crt-flicker 5s steps(1, end) infinite;
    font-family: 'Courier Prime';
    font-weight: normal;
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.site-title a {
    color: var(--red);
}

@media (prefers-color-scheme: dark) {
    html {
        background: var(--base03);
        color: var(--base1);
    }
}