html {
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    --base03t: #002b36A0;
    /* Dark mode bg */
    --base03: #002b36;
    /* Dark mode highlight */
    --base02: #073642;
    /* Darkest gray */
    --base01: #586e75;
    /* Gray - no dark mode */
    --base00: #657b83;
    /* Gray - no light mode */
    --base0: #839496;
    /* Lightest gray */
    --base1: #93a1a1;
    /* Light mode highlight */
    --base2: #eee8d5;
    /* Light mode bg */
    --base3: #fdf6e3;
    --base3t: #fdf6e370;
    --base-width: 540px;
    --header-height: 380px;
    background: var(--base3);
    color: var(--base01);
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: 100%;
}

a {
    color: var(--base1);
}

body {
  align-items: center;
  background-color: var(--base3t);
  background-image: url('../image/scanlines-light.svg');
  background-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}

footer {
  background-color: var(--base2);
  display: flex;
  flex-direction: column;
  height: 4rem;
  margin-top: 4rem;
  width: 100%;
}

header {
  align-self: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  width: var(--base-width);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: var(--base-width);
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

#header-background {
  animation: linear 10s infinite scanlines;
  background-image: url('../image/header.webp');
  background-repeat: repeat-y;
  background-position: top center;
  mask-image: radial-gradient(ellipse at center 50% in hsl longer hue, black 200px, transparent 410px);
  filter: blur(5px) brightness(1.5);
  height: 380px;
  width: 820px;
  margin: auto;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

#header-metadata {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#header-metadata-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 6rem 0 4rem 0;
  width: 100%;
}

.avatar img {
    border-radius: 30%;
    width: 128px;
    opacity: 0.6;
}

.container {
  align-items: center;
  background: linear-gradient(transparent, var(--base3) 36rem);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.post {
  display: flex;
  flex-direction: column;
}

.post-content > p {
  margin-block-start: 0.2rem;
}

.nav-item:nth-child(1n + 1) a {
  color: var(--cyan);
}
.nav-item:nth-child(1n + 2) a {
  color: var(--green);
}
.nav-item:nth-child(1n + 3) a {
  color: var(--blue);
}
.nav-item:nth-child(1n + 4) a {
  color: var(--violet);
}
.nav-item:nth-child(1n + 5) a {
  color: var(--orange);
}
.nav-item:nth-child(1n + 6) a {
  color: var(--yellow);
}
.nav-item:nth-child(1n + 7) a {
  color: var(--magenta);
}

a.red {
  color: var(--red);
}
a.orange {
  color: var(--orange);
}
a.yellow {
  color: var(--yellow);
}
a.green {
  color: var(--green);
}
a.cyan {
  color: var(--cyan);
}
a.blue {
  color: var(--blue);
}
a.violet {
  color: var(--violet);
}

.site-title {
    font-family: 'Courier Prime';
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.site-title a {
    color: var(--red);
}

@media (prefers-color-scheme: dark) {
    html {
        background: var(--base03);
        color: var(--base1);
    }

    a {
        color: var(--base01);
    }

    body {
      background-color: var(--base03t);
      background-image: url('../image/scanlines-dark.svg');
      background-blend-mode: darken;
    }

    footer {
      background-color: var(--base02);
    }

    .container {
      background: linear-gradient(transparent, var(--base03) 36rem);
    }

    .site-title {
      animation: site-title-crt-flicker 5s steps(1, end) infinite;
    }

    .site-title:hover {
      animation: none;
    }

    .site-title a:hover {
      text-shadow: 0.4rem 0.4rem 0.6rem var(--red);
    }

    #header-background {
      filter: blur(5px);
    }
}