html {
    --yellow: #b58900;
    --yellowt: #b58900A0;
    --orange: #cb4b16;
    --oranget: #cb4b16A0;
    --red: #dc322f;
    --redt: #dc322fA0;
    --magenta: #d33682;
    --magentat: #d33682A0;
    --violet: #6c71c4;
    --violett: #6c71c4A0;
    --blue: #268bd2;
    --bluet: #268bd2A0;
    --cyan: #2aa198;
    --cyant: #2aa198A0;
    --green: #859900;
    --greent: #859900A0;
    --base03t: #002b36A0;
    /* Dark mode bg */
    --base03: #002b36;
    /* Dark mode highlight */
    --base02: #073642;
    /* Darkest gray */
    --base01: #586e75;
    /* Gray - no dark mode */
    --base00: #657b83;
    /* Gray - no light mode */
    --base0: #839496;
    /* Lightest gray */
    --base1: #93a1a1;
    /* Light mode highlight */
    --base2: #eee8d5;
    /* Light mode bg */
    --base3: #fdf6e3;
    --base3t: #fdf6e370;
    --post-width: 540px;
    --header-height: 300px;
    background: var(--base3);
    color: var(--base01);
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: 100%;
}

a {
    color: var(--base1);
}

a.red {
    color: var(--red);
}
a.red:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--redt);
}

a.orange {
    color: var(--orange);
}
a.orange:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--oranget);
}

a.yellow {
    color: var(--yellow);
}
a.yellow:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--yellowt);
}

a.green {
    color: var(--green);
}
a.green:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--greent);
}

a.cyan {
    color: var(--cyan);
}
a.cyan:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--cyant);
}

a.blue {
    color: var(--blue);
}
a.blue:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--bluet);
}

a.violet {
    color: var(--violet);
}
a.violet:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--violett);
}

body {
    align-items: center;
    background-color: var(--base3t);
    background-image: url('../image/scanlines-light.svg');
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

footer {
    align-items: center;
    background-color: var(--base2);
    border-top: 1px solid var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    mask-image: linear-gradient(to left, transparent 10%, black 20%, black 80%, transparent 90%);
    min-height: 4rem;
    padding-top: 1rem;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Courier Prime';
    margin: 0;
}

header {
    align-self: center;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    width: var(--post-width);
}

main {
    align-items: center;
    background: linear-gradient(transparent, var(--base3) 10rem);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
    width: 100%;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}

#header-background {
    animation: linear 10s infinite scanlines;
    background-image: url('../image/header.webp');
    background-repeat: repeat-y;
    background-position: top center;
    filter: blur(5px) brightness(1.5);
    height: var(--header-height);
    left: 0;
    margin: auto;
    mask-image: radial-gradient(ellipse at center 50% in hsl longer hue, black 30%, transparent 74%);
    position: absolute;
    right: 0;
    width: 820px;
    z-index: -1;
}

#header-metadata {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
}

#header-metadata-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.avatar img {
    width: 100px;
    mask-image: radial-gradient(black, transparent 80%);
}

.footer-content {
    display: flex;
    padding: 1rem 0 1rem 0;
    width: var(--post-width);
}

.nav-item:nth-child(1n + 1) a {
    color: var(--cyan);
}
.nav-item:nth-child(1n + 1) a:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--cyant);
}

.nav-item:nth-child(1n + 2) a {
    color: var(--green);
}
.nav-item:nth-child(1n + 2) a:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--greent);
}

.nav-item:nth-child(1n + 3) a {
    color: var(--blue);
}
.nav-item:nth-child(1n + 3) a:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--bluet);
}

.nav-item:nth-child(1n + 4) a {
    color: var(--violet);
}
.nav-item:nth-child(1n + 4) a:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--violett);
}

.nav-item:nth-child(1n + 5) a {
    color: var(--orange);
}
.nav-item:nth-child(1n + 5) a:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--oranget);
}

.nav-item:nth-child(1n + 6) a {
    color: var(--yellow);
}
.nav-item:nth-child(1n + 6) a:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--yellowt);
}

.nav-item:nth-child(1n + 7) a {
    color: var(--magenta);
}
.nav-item:nth-child(1n + 7) a:hover {
  filter: brightness(1.2);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--magentat);
}
.page {
  width: var(--post-width);
}
.post {
    display: flex;
    flex-direction: column;
    width: var(--post-width);
}
.post a:hover {
    color: var(--yellow);
}
.post-content>p {
    margin-block-start: 0.2rem;
}
.post-content video {
  height: auto;
  max-width: var(--post-width);
}
.post-content img {
  height: auto;
  max-width: var(--post-width);
}
.post-header {
    font-family: 'Courier Prime';
    font-weight: bold;
}

.site-title {
    font-family: 'Courier Prime';
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.site-title a {
    color: var(--red);
}

.social ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0.4rem 0 0 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        background: var(--base03);
        color: var(--base1);
    }

    a {
        color: var(--base01);
    }

    body {
        background-color: var(--base03t);
        background-image: url('../image/scanlines-dark.svg');
        background-blend-mode: darken;
    }

    footer {
        background-color: var(--base02);
    }

    main {
        background: linear-gradient(transparent, var(--base03) 10rem);
    }

    .site-title {
        animation: site-title-crt-flicker 5s steps(1, end) infinite;
    }

    .site-title:hover {
        animation: none;
    }

    .site-title a:hover {
        text-shadow: 0.4rem 0.4rem 0.6rem var(--red);
    }

    #header-background {
        filter: blur(5px) brightness(0.9);
    }
}