@media (max-width: 840px) {
    header { 
        transition: 0.3s;
    }
    footer {
        mask-image: none;
    }
    #header-background {
        transition: 0.3s;
        width: 100%;
    }
}
@media (max-width: 740px) {
    html {
        --header-height: 200px;
        --post-width: 540px;
    }
    header {
        padding: 0;
    }
    #header-background {
        transition: 0.3s;
        height: calc(var(--header-height) + 8%);
    }
}
@media (max-width: 540px) {
    html {
        --header-height: 160px;
        --post-width: 90vw
    }
    main {
        padding: 0 0 1rem 0;
    }
    #header-background {
        transition: 0.3s;
        height: calc(var(--header-height) + 0%);
    }
    .avatar img {
        width: 72px;
    }
    .site-title {
        font-size: 2.6rem;
        transition: 0.3s;
    }
}
@media (max-width: 400px) {
    header {
        width: auto;
    }
    #header-background {
        transition: 0.3s;
        height: calc(var(--header-height) - 5%);
    }
    #header-metadata {
        transition: 0.3s;
        align-items: center;
    }
    .avatar {
        display: none;
    }
}
@media (max-width: 330px) {
    .site-title {
        font-size: 2rem;
        transition: 0.3s;
    }
}