@media (max-width: 840px) {
    footer {
        mask-image: none;
    }
    #header-background {
        width: 100%;
    }
}
@media (max-width: 740px) {
    html {
        --post-width: 540px;
    }
}
@media (max-width: 540px) {
    html {
        --post-width: 90vw;
    }
    .avatar img {
        width: 72px;
    }
    .site-title {
        font-size: 2.6rem;
        transition: 0.3s;
    }
}
@media (max-width: 400px) {
    header {
        width: auto;
    }
    #metadata h1 {
        align-self: center;
    }
    .avatar {
        display: none;
    }
}
@media (max-width: 330px) {
    .site-title {
        font-size: 2rem;
        transition: 0.3s;
    }
}