{{ define "header" }}
    {{ partial "mini_header.html" . }}
{{ end }}
{{ define "main" }}
	<div class="about">
		<div class="about-header">
			<img class="about-avatar" src="https://micro.blog/{{ .Site.Author.username }}/avatar.jpg" />
			<div class="about-body">
				<div class="about-tagline">
					<h1 class="about-username">&#62; privilegejunkie</h1>
					<div>&#62; digitial maximalism<br />&#62; 33, Kansas City</div>
				</div>
				<div class="social">
					<ul>
				    	<li>
				      		<a class="green" href="https://cyberpunk.xxx">tumblr</a>
				    	</li>
				    	<li>
				      		<a class="violet" href="https://mastodon.social/@privilegejunkie">mastodon</a>
				    	</li>
				    	<li >
				      		<a class="blue" href="https://bsky.app/profile/privilegejunkie.bsky.social">bluesky</a>
				    	</li>
				  	</ul>
				</div>
			</div>
		</div>
	</div>
{{ end }}