<footer>
  <div class="footer-content">
    <div class="footer-block">
      <h4>social</h4>
      <ul>
        <li>
          <a class="green" href="https://cyberpunk.xxx">tumblr</a>
        </li>
        <li>
          <a class="violet" href="https://mastodon.social/@privilegejunkie">mastodon</a>
        </li>
        <li >
          <a class="blue" href="https://bsky.app/profile/privilegejunkie.bsky.social">bluesky</a>
        </li>
      </ul>
    </div>
    <div class="footer-block"> </div>
    <div class="footer-block"> </div>
    <div class="footer-block"> </div>
  </div>
</footer>