<header>
    <div id="metadata">
        <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        <nav>
            <ul>
                {{ range .Site.Menus.main }}
                <li><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                <li><a class="nav-link" href="{{ .Site.BaseURL }}rss">rss</a></li>
            </ul>
        </nav>
    </div>
    <div class="avatar">
        <a href="{{ .Site.BaseURL }}">
            <img src="https://micro.blog/{{ .Site.Author.username }}/avatar.jpg" alt="{{ .Site.Title }}" />
        </a>
    </div>
</header>