<header>
    <div id="header-background"></div>
    <div id="header-metadata-wrapper">
      <div id="header-metadata">
          <h1 class="site-title"><a id="site-title" href="{{ .Site.BaseURL }}"></a></h1>
          <nav>
              <ul>
                  {{ range sort .Site.Menus.main ".Name" "asc" }}
                  <li class="nav-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                  <li class="nav-item"><a href="{{ .Site.BaseURL }}rss">rss</a></li>
              </ul>
          </nav>
      </div>
      <div class="avatar">
          <a href="{{ .Site.BaseURL }}/about">
              <img src="https://micro.blog/{{ .Site.Author.username }}/avatar.jpg" alt="{{ .Site.Title }}" />
          </a>
      </div>
    </div>
</header>