<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
    {{ partial "header.html" . }}
    <main>
        {{ $pages := where .Site.Pages.ByDate.Reverse "Type" "post" }}
        {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
        {{ range $paginator.Pages }}
        <div class="post">
            <div class="single-margins post-header">
                {{ if .Title }}
                <h2 class="post-title">{{ .Title }}</h2>
                {{ end }}
                <a href="{{ .Permalink }}">
                    <time class="post-date-time"
                      datetime="{{ .Date.Format "2006-01-02 15:04:05 -0600" }}">
                      {{ .Date.Format "2006-01-02"}}
                    </time>
                </a>
            </div>
            <div class="post-content">
              {{ .Content }}
            </div>
        </div>
        {{ end }}
        {{ template "partials/paginator.html" . }}
    </main>
    {{ partial "footer.html" . }}
</body>
{{ partial "verification.html" . }}
</html>