<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
  <div class="container wrapper">
    {{ partial "header.html" . }}

    <main>
      {{ $pages := where .Site.Pages.ByDate.Reverse "Type" "post" }}
      {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
      {{ range $paginator.Pages }}
        <div class="post">
          {{ .Content }}
        </div>
      {{ end }}
      {{ template "partials/paginator.html" . }}
    </main>
  {{ partial "footer.html" . }}
</body>
</html>